<div class="form_box">

<%= bootstrap_form_for(@bookmark) do |f| %>
  <h2><%= title %></h2>
  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.text_field :url %>
  <%= link_to 'Back', bookmarks_path, class: "btn btn-default" %>
  <%= f.primary  %>
<% end %>

</div>
