<!--<h1>Your bookmarks</h1>-->

<div class="row">
  <% @bookmarks.each do |bookmark| %>
    <div class="col-sm-4 col-xs-6">
      <div class="thumbnail bookmark">
        <div class="small_buttons">


          <%= link_to edit_bookmark_path(bookmark), class: "btn btn-default btn-xs" do %>
             <span class="glyphicon glyphicon-pencil"></span> Edit
          <% end %>

          <%= link_to bookmark, class: "btn btn-default btn-xs", method: :delete, data: { confirm: 'Do you really want to delete this bookmark?' } do %>
             <span class="glyphicon glyphicon-trash"></span> Delete 
          <% end %>

        </div>

        <%= link_to  bookmark.url, target: "_blank", class: "bookmark_link btn btn-lg btn-block btn-default" do %>
          <%=get_bookmark_icon(bookmark).html_safe %>
          <%=bookmark.name%>
        <% end %>

      </div>
    </div>
      
  <% end %>
</div>


<br>

<%= link_to new_bookmark_path, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus"></span> Add New Bookmark 
<% end %>
