<h1>Your bookmarks</h1>

  <% @bookmarks.each do |bookmark| %>
    <div class="bookmark">
      <div class="small_buttons">
        <%= link_to 'Edit', edit_bookmark_path(bookmark) %>
        <%= link_to 'Delete', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

      <a href="<%= bookmark.url %>" class="bookmark_link" target="_blank">
          <img src="http://placehold.it/150x150&text=Hello world" alt="<%= bookmark.description %>"/>
          <%= bookmark.name %>
      </a>
    </div>
      
  <% end %>
<br>

<%= link_to 'New Bookmark', new_bookmark_path %>
