<!DOCTYPE html>
<html>
<head>
  <title>MyHome Bookmarks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "MyHome Bookmarks", root_path, id: "logo" %>
        </div>

        <div class="collapse navbar-collapse navbar-right">
          <% if user_signed_in? %>
            <p class="navbar-text">Signed in as <%= current_user.email %></p>
          <% end %>

          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>

  <div class="container">
    <% if notice %><div class="alert alert-success" role="alert"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-danger" role="alert"><%= alert %></div><% end %>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
